
.hotspot-menu {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hotspot-menu__fab {
  transition: margin-bottom .15s ease-in-out;
  margin-left: 10px;
}

.hotspot-menu__fab-open {
  margin-left: 0px !important;
}
