<div class="overlay-modal">
  <div class="modal__content play-story-modal">
    <h3>You are about to begin your <br> Simple VR experience!</h3>
    <div class="modal__content-body" *ngIf="isMobile">
      <button (click)="singleScreen()">
        <img src="assets/icons/view-preview-accent.png" alt="">
        <h3>Single Screen</h3>
      </button>
      <button (click)="dualScreen()">
        <img src="assets/icons/view-preview-accent.png" alt="">
        <h3>Dual Screen</h3>
      </button>
    </div>
    <div class="modal__content-body" *ngIf="!isMobile">
      <button (click)="singleScreen()">
        <img src="assets/icons/view-preview-accent.png" alt="">
        <h3>Start</h3>
      </button>
    </div>
  </div>
</div>