.play-story-modal {
  .modal__content-body {
    padding: 40px;
    text-align: center;

    p {
      margin: 10px 0;
    }

    .play-btn {
      white-space: nowrap;
      margin: 10px 15px;
      cursor: pointer;
      padding: 0;
      border: none;
      background: transparent;
      opacity: 1;
      transition: opacity .25s;

      img {
        margin: 0 auto;
        display: block;
        width: 45px;
        height: 45px;
      }

      &:hover {
        opacity: .7;
      }
    }
  }
}
