@import '../../../_styles/variables';
@import '../../../_module/ui';


.story__soundtrack__upload-button {
	width:100%;
	box-sizing: border-box;

}

.story__soundtrack__delete-button {
  background-color: $delete-button-background-color;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
	width: 100%;
}

.story__soundtrack__audio-player {
  width: 100%;
  margin-top: 5px;
}
