<div class="modal-window"
  off-click
  (onOffClick)="onOffClick($event)">


  <div class="modal-window__fields">

    <!-- Title -->
    <text-input-material
      [inputLabel]="'Title'"
      [textModel]="getProjectName()"
      (onTextChange)="setProjectName($event)">
    </text-input-material>

    <!-- Tags -->
    <text-input-material
      [inputLabel]="'Tags'"
      [textModel]="getProjectTags()"
      (onTextChange)="setProjectTags($event)">
    </text-input-material>

    <!-- Divider -->
    <div class="horiz-line-bottom"></div>

    <!-- Soundtrack -->

<div class="button_row">
      <div
        class="button"
        title="Click to create new story"
        (click)="onNewStoryClick($event)">
        New Story
      </div>
      <div class="button" title="Click to save current story to server"
       (click)="onSaveStoryClick($event)">
        Save Story
      </div>

</div>

<div class="button_row">
      <div class="button" title="Click to download story as zip file"
       (click)="onSaveStroyLocallyClick($event)">
        Download as .zip
      </div>
      <div
        class="button"
        title="Click to upload zip file"
        (click)="onOpenStoryLocallyClick($event)">
        Upload from .zip
      </div>

      </div>

      <div class="dropdown-input-row">
      <file-loader
        *ngIf="!getSoundtrack().hasAsset()"
          (onFileLoad)="onSoundtrackLoad($event)"
          [acceptedFileType]="'audio'"
          [displayText]="'Add Soundtrack'"
          class="story__soundtrack__upload-button">
      </file-loader>

      <div
        *ngIf="getSoundtrack().hasAsset()"
        class="story__soundtrack__delete-button"
        (click)="removeSoundtrack()">
        Remove Soundtrack
      </div>

      <audio
        *ngIf="getSoundtrack().hasAsset()"
        [attr.src]="getSoundtrack().getBinaryFileData()"
        type="audio/mp3"
        controls="controls"
        [volume]="getSoundtrackVolume()"
        (volumechange)="onVolumeChange($event)"
        class="story__soundtrack__audio-player">
      </audio>

</div>

  </div>


</div>
