@import '../../../../_styles/variables';

$diameter: $room-icon-size;
$bar-width: $room-icon-size - 8;
$bar-height: 4px;
$bar-border-radius: $bar-height / 2;
$center-position: $diameter / 2 - $bar-height / 2;
$bar-margin: ($diameter - $bar-width) / 2;

.add-room {
	//width: $diameter;
	//height: $diameter;
  // border-radius: 50%;
  //background-color: white;
  position: relative;
  cursor: pointer;
	margin-left: 5px;
  margin-bottom: 5px;
	// transform: translate(0%, 20px)

  &.has-swap-bottoms {
    margin-bottom: 26px;
  }
}

.add-room__rect {
	position: absolute;
	width: 60px;
	height: 80px;
	background-color: $color-white;
  top: -29px;
}

.add-room__plus {
	transform: translate(10px,-8px);
}
.add-room__barh {
  display: block;
  position: absolute;
  height: $bar-height;
  width: $bar-width;
  border-radius: $bar-border-radius;
  background-color: $color-grey-dark;
  left: $bar-margin;
  top: $center-position;
  transition: .15s ease-in-out;
  transform: rotate(0deg);
	//transform: translate(0%, 20px)
}

.add-room__barv {
  display: block;
  position: absolute;
  height: $bar-height;
  width: $bar-width;
  border-radius: $bar-border-radius;
  background-color: $color-grey-dark;
  left: $bar-margin;
  top: $center-position;
  transition: .15s ease-in-out;
  transform: rotate(90deg);
	//transform: translate(0%, 20px)
}

.add-room__plus :nth-child(1) {

}

.add-room :nth-child(2) {

}
