<div
  *ngIf="getUserGroups()"
  class="admin-user-groups">
  <p>Groups you can edit:</p>
  <div *ngFor="let userGroup of getUserGroups()">
    <p class="story-collection__header"> {{ userGroup.name }} </p>

    <!-- PROJECTS FROM USERS IN GROUP -->
    <p *ngIf="getGroupProjects(userGroup.id).length">
      Stories from users in {{ userGroup.name }}
    </p>
    <div class="story-collection">

      <div
        *ngFor="let project of getGroupProjects(userGroup.id)"
        class="story-collection__project">
        <p>
          <span class="text-bold">Project: </span>
          <span>{{ project.name }}</span>
        </p>
        <p>
          <span class="text-bold">User: </span>
          <span>{{ project.user }}</span>
        </p>
        <p>
          <span class="text-bold">Tags: </span>
          <span>{{ project.tags }}</span>
        </p>
        <img
          *ngIf="project.thumbnailUrl"
          [attr.src]="project.thumbnailUrl"
          (click)="openProject(project)"
          class="story-collection__thumbnail"/>

        <div class="flex-row-start">
            
          <checkbox
            [initialValue]="project.isFeatured"
            (changeEmitter)="onCheckboxChange($event, userGroup.id, project.projectId, project)">
          </checkbox>

          <p class="visibility-explanation">
            Story is {{ project.isFeatured ? '' : 'not' }} visible to {{ userGroup.name }}
          </p>

        </div>

      </div>

    </div>


    <!-- EXTERNAL PROJECTS -->
    <p *ngIf="getExternalProjects(userGroup.id).length">
      External projects
    </p>
    <div class="story-collection">

      <div
        *ngFor="let project of getExternalProjects(userGroup.id)"
        class="story-collection__project">
        <p>
          <span class="text-bold">Project: </span>
          <span class="text-bold">{{ project.name }}</span>
        </p>
        <p>
          <span class="text-bold">User: </span>
          <span class="text-bold">{{ project.user }}</span>
        </p>
        <p>
          <span class="text-bold">Tags: </span>
          <span class="text-bold">{{ project.tags }}</span>
        </p>
        <img
          *ngIf="project.thumbnailUrl"
          [attr.src]="project.thumbnailUrl"
          (click)="openProject(project)"
          class="story-collection__thumbnail"/>

        <div
          (click)="removeExternalProject(userGroup.id, project.projectId)"
          class="button remove-button">
          Remove project from group
        </div>

      </div>

    </div>


  </div>
</div>
