@import '../../../_styles/variables';

.default-overlay {

  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;
  background-color: $color-grey-dark;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.default-overlay__background{
  width: 100%;
  height: 100%;
  background-image: url("assets/images/background_bosnia-waterfall.JPG");
  background-size: 100% 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.default-overlay__hidden-input {
  display: none;
}

.default-overlay__box {
  border: 2px dashed $color-grey-light;
  border-radius: 20px;
  padding: 50px;
  margin: 10px;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
}

.default-overlay__logo {
  margin-top: 16px;
  font-size: 2em;
  font-weight: 600;
  text-shadow: $text-shadow;
  position: absolute;
  top: 0%;
  cursor: pointer;
  &:hover{
    color: $color-grey-medium;
  }
  text-decoration: none !important;
}

.default-overlay__logo-social a:link {
    text-decoration: none !important;
    border-bottom: 0px;
}


.default-overlay__logo-vr {
  color: $color-primary;
  font-weight: 800;
}
