@import '../../../../_styles/variables';

.storymap-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin: 0px 0;
  &:hover {
    .story-map-item__buttons {
      visibility: visible;
    }

  }

}

.story-map-item__buttons {
  display: flex;
  flex-direction: row;
  //margin-bottom: -22px;
  transform: translate(0%, 80px);
  visibility: hidden;
  z-index: 1;
}

.storymap-item__button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: transparent;
  background-size: 90%;
  background-repeat: no-repeat;
  width: $home-icon-width;
  height: $home-icon-height;
}

.storymap-item__roomname {
  justify-content: center;
  margin: 0px 0px 0px 0px;
  transform: translate(0%, 40px);
  z-index: 1;
}

.storymap-item__delete {
  background-image: url('assets/icons/delete_filled.png');
}

.storymap-item__info {
  background-image: url('assets/icons/info_filled.png');
}


.storymap-item__home-icon {
  background-image: url('assets/icons/home.png');
  &:hover {
    background-image: url('assets/icons/home_filled.png');
  }
}

.storymap-item__home-icon--active {
  background-image: url('assets/icons/home_filled.png');
}

.storymap-item__thumbnailbox {
  background-color: $color-grey-light;
  height: $room-icon-thumbnail-height;
  margin: 0 5px;
}

.storymap-item__thumbnail {
  width: $room-icon-thumbnail-width;
  height: $room-icon-thumbnail-height;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.storymap-item__thumbnail--active {
  opacity: 1;
}
