@import '../../../../_styles/variables';

.storymap-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin: 0;

  &:hover {
    .story-map-item__buttons {
      visibility: visible;
    }
  }
}

.story-map-item__buttons {
  display: flex;
  flex-direction: row;
  //margin-bottom: -22px;
  transform: translate(0%, 70px);
  visibility: hidden;
  z-index: 1;
}

.storymap-item__button {
  margin-left: 2px;
  margin-right: 2px;
  background-color: transparent;
  background-size: 90%;
  background-repeat: no-repeat;
  width: $home-icon-width;
  height: $home-icon-height;
  background-position-x: center;
}

.storymap-item__roomname {
  justify-content: center;
  margin: 0;
  transform: translate(0%, 40px);
  z-index: 1;
}

.storymap-item__move-left {
  background-image: url('assets/icons/arrow_left_filled.png');

  &.disabled {
    visibility: hidden;
    pointer-events: none;
  }
}

.storymap-item__move-right {
  background-image: url('assets/icons/arrow_right_filled.png');

  &.disabled {
    visibility: hidden;
    pointer-events: none;
  }
}

.storymap-item__delete {
  background-image: url('assets/icons/delete_filled.png');
}

.storymap-item__info {
  background-image: url('assets/icons/info_filled.png');
}

.storymap-item__home-icon {
  background-image: url('assets/icons/home.png');
  &:hover {
    background-image: url('assets/icons/home_filled.png');
  }
}

.storymap-item__home-icon--active {
  background-image: url('assets/icons/home_filled.png');
}

.storymap-item__thumbnailbox {
  background-color: $color-grey-light;
  height: $room-icon-thumbnail-height;
  margin: 0 5px;

  .loading-progress {
    width: $room-icon-thumbnail-width;
    height: $room-icon-thumbnail-height;
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
    text-align: center;

    span {
      line-height: $room-icon-thumbnail-height;
    }
  }
}

.storymap-item__thumbnail {
  width: $room-icon-thumbnail-width;
  height: $room-icon-thumbnail-height;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.storymap-item__thumbnail--active {
  opacity: 1;
}



.storymap-item:hover {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  transform: scale(1.25, 1.25);
  border-bottom: 10px solid rgba(255, 255, 255, 0);
}

.storymap-item__delete:hover{
  //box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0);
  //transform: scale(1.10, 1.10);
  margin-bottom: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  //background: rgba(0, 0, 0, 0.102);
  //position: relative;
  border-radius: 12px;
  overflow: hidden;
  //box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.917);
  transform: scale(1.75, 1.75);
  border-top: 5px solid rgba(255, 255, 255, 0);
}

.storymap-item__home-icon:hover{
  //box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0);
  //transform: scale(1.10, 1.10);
  margin-bottom: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  //background: rgba(0, 0, 0, 0.102);
  //position: relative;
  border-radius: 12px;
  overflow: hidden;
  //box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.917);
  transform: scale(1.75, 1.75);
  border-top: 5px solid rgba(255, 255, 255, 0);
}
.storymap-item__info:hover{
    //box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0);
  //transform: scale(1.10, 1.10);
  margin-bottom: 5px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  //background: rgba(0, 0, 0, 0.102);
  //position: relative;
  border-radius: 12px;
  overflow: hidden;
  //box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.917);
  transform: scale(1.75, 1.75);
  border-top: 5px solid rgba(255, 255, 255, 0);
}