@import '../../../../../_styles/variables';

.universal-editor {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;

  .hotspot-inspector__label {
    flex-wrap: wrap;
  }

  .invalid-message {
    color: $color-red;
  }

  .play-loop-label {
    padding-bottom: 5px;
    display: inline-block;
    width: auto;
    line-height: 26px;
    vertical-align: middle;

    & + checkbox {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 5px;
    }
  }

  .tab-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    > .tabs {
      label.tab {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 10px 20px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;

        &:hover {
          color: #888;
          cursor: pointer;
        }

        @media (max-width: 767px) {
          padding: 4px 8px;
          font-size: 14px;

          .universal-editor__tab-icon {
            height: $room-icon-size*2/4;
            width: $room-icon-size*2/4;
          }
        }
      }

      input[name="tabs"] {
        display: none;

        &:checked + label {
          color: #555;
          border: 1px solid #ddd;
          border-top: 2px solid orange;
          border-bottom: 1px solid #fff;
        }
      }
    }

    > section {
      display: none;
      padding: 20px 0 0;
      border-top: 1px solid #ddd;
      flex-grow: 1;
    }

    #content-universal-image.active,
    #content-universal-text.active,
    #content-universal-audio.active {
      display: flex;
      flex-direction: column;
    }
  }

  .property-editor__delete-button {
    margin-top: 8px;
    width: 100%;
    font-size: 0.8em;
    background-color: #FF3571;
    color: #FAFAFA;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
  }

  .universal-editor__text-area {
    border-color: $color-grey-light;

    resize: none;
    font-size: 1.1em;
    width: 100%;
    flex-grow: 1;
  }

  .universal-editor__text-chars-counter {
    font-style: italic;
    text-align: right;
    font-size: 12px;
    margin: 4px;
    color: #555;
  }

  .universal-editor__record-button {
    display: inline-block;;
    position: relative;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .universal-editor__file-loader {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }

  .universal-editor__audio-player {
    width: 100%;
    position: relative;
    margin-top: 5px;
  }

  .universal-editor__image-wrapper {
    flex-grow: 1;
    position: relative;

    display: inline-block;
    overflow: auto;
    width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    min-height: 40px;
    max-width: calc(100% - 16px);
    max-height: 100%;
    margin: 8px;
    border: 2px #aaa;

    .universal-editor__image-display {
      display: block;
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .universal-editor__image-rotate {
    text-align: right;

    button {
      border: none;
      background: transparent;
      width: 32px;
      height: 32px;
      padding: 0;
      border-radius: 50%;
      vertical-align: top;
      cursor: pointer;

      > img {
        margin: 0;
        width: 100%;

        &.active {
          display: none;
        }
      }

      &:hover, &:active {
        > img.default {
          display: none;
        }

        > img.active {
          display: block;
        }
      }
    }
  }

  .universal-editor__texticon {
    background-image: $icon-hotspot-text;
  }
  .universal-editor__audioicon {
    background-image: $icon-hotspot-audio;
  }
  .universal-editor__imageicon {
    background-image: $icon-hotspot-image;
  }

}

.universal-editor__tab-icon {
  height: $room-icon-size*2/3;
  width: $room-icon-size*2/3;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-color: transparent;
  opacity: 0.8;
  filter: $icon-drop-shadow;
}

.list-icon__text {
  background-image: $icon-hotspot-text;
}

.list-icon__audio {
  background-image: $icon-hotspot-audio;
}

.list-icon__image {
  background-image: $icon-hotspot-image;
}

// .dropzone .dz-preview .dz-image {
//   border-radius: 20px;
//   overflow: hidden;
//   width: 820px;
//   height: 820px;
//   position: relative;
//   display: flex;
//   z-index: 10;
// background-color: red; }

// :host /deep/ .dropzone .dz-preview .dz-image {
//   overflow: hidden !important;
//   width: 715px !important;
//   height: 400px !important;
//   position: relative !important;
//   display: flex !important;
//   background-color: red !important;
// }

:host /deep/ .dropzone.dz-wrapper.dz-single .dz-preview .dz-image img {
  display: block;
  width: 100%;
  height: 470px;
  margin: 0;
}


:host /deep/ .dropzone.dz-wrapper .dz-message {
  min-height: 468px;
}

.universal-editor__image-wrapper:hover .check{
  z-index:10;
  display: block;
  border-color: #aaa;
  opacity: 0;

  -webkit-animation: passing-through 3s cubic-bezier(0.77, 2, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 2, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 2, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 2, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 2, 0.175, 1);
  .name{
    display: block;
    z-index:11;
    border-color: #aaa;
    opacity: 0.5;
    //overflow: hidden;
    width: 500px;
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 25%;
    font-family: fantasy;
    font-weight: 400;
    letter-spacing: 2px;
  }
  //margin-top: 25%;
}

.universal-editor__image-wrapper:hover > .name{

  z-index:11;
  border-color: #aaa;
  opacity: 0.5;
  //overflow: hidden;
  width: 500px;
  margin-left: 20%;
  margin-right: 25%;
  margin-top: 25%;
  font-family: fantasy;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
}



.name{
  display: none;
  animation:1s linear ;
  
}

:host /deep/ .dropzone .dz-preview.dz-success .dz-success-mark{
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  display: none;
}
.check{
  z-index:1;
  display: none;
  //overflow: hidden;
  width: 500px;
  margin-left: 20%;
  margin-right: 25%;
  margin-top: 0%;
}