<div class="universal-editor">
  <h2 class="hotspot-inspector__label">
    Hotspot Tool
  </h2>

  <div class="tab-container">
    <input id="tab-universal-image" type="radio" name="tabs" (change)="onChangeActiveTab($event, TABS.IMAGE)" [checked]="activeTab === TABS.IMAGE">
    <label for="tab-universal-image" class="tab">
      <img src="/assets/icons/image_filled.png" alt="image" class="ico">
      Image
    </label>

    <input id="tab-universal-text" type="radio" name="tabs" (change)="onChangeActiveTab($event, TABS.TEXT)" [checked]="activeTab === TABS.TEXT">
    <label for="tab-universal-text" class="tab">
      <img src="/assets/icons/text_filled.png" alt="image" class="ico">
      Text
    </label>

    <input id="tab-universal-audio" type="radio" name="tabs" (change)="onChangeActiveTab($event, TABS.AUDIO)" [checked]="activeTab === TABS.AUDIO">
    <label for="tab-universal-audio" class="tab">
      <img src="/assets/icons/audio_filled.png" alt="image" class="ico">
      Audio
    </label>

    <section id="content-universal-image" droppable (onFileLoad)="onImageFileLoad($event)" [acceptedFileType]="'image'">
      <file-loader
        (onFileLoad)="onImageFileLoad($event)"
        [acceptedFileType]="'image'"
        class="universal-editor__file-loader">
      </file-loader>

      <img *ngIf="hasImageContent()"
        [attr.src]="universalProperty.imageContent.getBinaryFileData()"
        class="universal-editor__image-display">
    </section>

    <section id="content-universal-text">
      <p class="hotspot-inspector__label">
        Enter Text:
      </p>
      <textarea
        maxlength="245"
        name="textarea"
        class="universal-editor__text-area"
        [(ngModel)]="universalProperty.textContent">
      </textarea>
    </section>

    <section id="content-universal-audio" droppable (onFileLoad)="onAudioFileLoad($event)" [acceptedFileType]="'audio'">
      <p class="hotspot-inspector__label play-loop-label">
        Play loop
      </p>

      <checkbox
        [initialValue]="getLoopState()"
        (changeEmitter)="onLoopChange($event)">
      </checkbox>

      <br/>

      <div class="hotspot-inspector_row">
        <file-loader
          (onFileLoad)="onAudioFileLoad($event)"
          [acceptedFileType]="'audio'"
          class="universal-editor__file-loader">
        </file-loader>

        <audio-recorder
          *ngIf="showAudioRecorder()"
          (onRecorded)="onAudioRecorded($event)"
          class="universal-editor__record-button">
        </audio-recorder>
      </div>

      <audio
        *ngIf="hasAudioContent()"
        [attr.src]="universalProperty.audioContent.getBinaryFileData()"
        type="audio/mp3"
        controls="controls"
        [loop]="getLoopState()"
        [volume]="universalProperty.volume"
        (volumechange)="onVolumeChange($event)"
        class="universal-editor__audio-player">
      </audio>
    </section>
  </div>
</div>
