@import '../../../_styles/variables';

.circle-beacon:before,
.circle-beacon:after {

  width: 36px;
  height: 36px;
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  border: 2px solid $color-action;
}

.circle-beacon:before {
  animation: ripple 1.5s linear infinite;
}

.circle-beacon:after {
  animation: ripple 1.5s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}
