<div
  class="story-scroll"
  [ngClass]="{'stroy-scroll--open': isOpen}">

  <room-editor
    *ngIf="inspectorIsVisible"
    (onOffClick)="onOffClick()"
    class="story-scroll__room-editor">
  </room-editor>

  <div *ngIf="!inspectorIsVisible">
    <div
      (click)="toggleOpen()"
      class="story-scroll__toggle-button">
      <span
        class="story-scroll__toggle-arrow story-scroll__toggle-arrow-left"
        [ngClass]="{'story-scroll__toggle-arrow-left--open': isOpen}">
      </span>
      <span
      class="story-scroll__toggle-arrow story-scroll__toggle-arrow-right"
      [ngClass]="{'story-scroll__toggle-arrow-right--open': isOpen}">
      </span>
    </div>
  </div>

  <div
    droppable
    [acceptedFileType]="'image'"
    [acceptMultpleFiles]="true"
    (onFileLoad)="addSlideShow($event)"
    class="story-scroll__scroll">

      <div class="story-scroll__room-group">
        <div
          *ngFor="let roomId of roomIds"
          class="story-scroll__room">

          <!-- Room Label -->
          <storymap-item
            [roomProperty]="getRoomById(roomId)"
            [isActive]="roomIsSelected(roomId)"
            (click)="onRoomSelect(roomId)"
            (infoEvent)="onInfoClick()"
            class="story-scroll__storymap-item">
          </storymap-item>

          <div class="toggle-room-actions">
            <button type="button"
                    class="toggle-room-position"
                    (click)="onSwapRoom(roomId, 1)"
                    *ngIf="hasNextRoomFor(roomId)">
              &#8596;
            </button>
          </div>
        </div>
      </div>

      <add-room [hasSwapButtons]="roomIds.length > 1"></add-room>
  </div>
</div>
