<div class="room-editor">

  <!-- Title -->
  <text-input-material
    [inputLabel]="'Room Name'"
    [textModel]="getRoomName()"
    (onTextChange)="setRoomName($event)">
  </text-input-material>
  <br/>
  <file-loader
    (onFileLoad)="onBackgroundImageLoad($event)"
    [displayText]="'Add Background Image'"
    [acceptedFileType]="'image'">
  </file-loader>

  <file-loader
    *ngIf="!getBackgroundAudio().hasAsset()"
    [displayText]="'Add Room Background Audio'"
    [maxFileSize]="50"
    (onFileLoad)="onBackgroundAudioLoad($event)"
    [acceptedFileType]="'audio'">
  </file-loader>

  <div
    *ngIf="getBackgroundAudio().hasAsset()"
    class="room-editor__delete-button"
    (click)="removeBackgroundAudio()">
    Remove Background Audio
  </div>

  <audio-element 
    *ngIf="getBackgroundAudio().hasAsset()"
    [volume]="getBackgroundAudioVolume()"
    (volumechange)="onBGAVolumeChange($event)"
    [src]="getBackgroundAudio().getObjectUrl() | urlSanitize">
  </audio-element>
  <div class="hotspot-inspector_row">
    <div class="hotspot-inspector_row">
      <file-loader
        *ngIf="!getNarratorIntroAudioFile().hasAsset()"
        (onFileLoad)="onIntroAudioLoad($event)"
        [acceptedFileType]="'audio'"
        [maxFileSize]="50"
        [displayText]="'Select a Room Narration Audio'"

        class="room-editor__audio-file-loader">
      </file-loader>
      <div
        *ngIf="getNarratorIntroAudioFile().hasAsset()"
        class="room-editor__delete-button"
        (click)="removeNarratorIntroAudio()">
        Remove Narration
      </div>
    </div>
    <audio-recorder
      *ngIf="showAudioRecorder()"
      (onRecorded)="onNarratorIntroRecorded($event)"
      class="audio-editor__record-button room-editor__audio-record-button">
    </audio-recorder>
  </div>

  <p class="error-message" *ngIf="largeIntroAudioFile">File size is too large (64MB is maximum).</p>
  <audio-element 
    *ngIf="getNarratorIntroAudioFile().hasAsset()"
    (volumechange)="onNarrationVolumeChange($event)"
    [volume]="getNarratorIntroAudioVolume()"
    [src]="getNarratorIntroAudioFile().getObjectUrl() | urlSanitize">
    
  </audio-element>
</div>
