@import '../../../../_styles/variables';

.room-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background: $color-white;
  border-radius: $window-border-radius;
  //opacity: $opacity-for-overlay;
  backdrop-filter: blur($backdrop-filter-blur);
box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
}

.room-editor__audio-player {
  width: 100%;
  margin-top: 5px;
}

.room-editor__audio-file-loader {
  width: 220px;
}

.room-editor__audio-record-button {
  margin-left: 8px;
}

.room-editor__delete-button {
  font-size: $button-text-size;
  background-color: $delete-button-background-color;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  width: 230px;
}
