@import '../../../_styles/variables';
@import '../../bottombar/edit-space-toggle/circle-beacon';

.audio-recorder {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: $color-pink-dark;

}
