<div class="preview-space">
  <a-scene #worldElement preview-space>
    <a-entity>
      <a-camera
        wasd-controls-enabled="false"
        look-controls
        fov="65"
        animation__zoom-in="
          property: zoom;
          from: 1;
          startEvents: start-zoom-in;
          to: 5;"
        zoom="1"
        near="1">
        <!-- Background sounds -->
        <a-sound
          *ngIf="soundtrackAudio"
          [attr.src]="soundtrackAudio"
          autoplay="true"
          loop="true"
          class="soundtrack-audio"
        >
        </a-sound>
        
       
        <!-- / Background sounds -->
        
         <a-cursor
            id="cursor"
            animation__scale-out="
              property: scale;
              from: 1 1 1;
              to: .2 .2 .2;
              startEvents: start-scale-out;
            "
            raycaster="objects: .raycast-trigger; recursive: true">
         </a-cursor>
      </a-camera>

      <a-sky
        [attr.src]="sky"
        radius="512">
      </a-sky>

     <a-entity *ngIf="room">
          <a-sound
            *ngIf="narrationAudio"
            [attr.src]="narrationAudio"
            class="narration-audio"
            sound="positional: false"
            autoplay="true">
          </a-sound>
          <a-sound
            *ngIf="backgroundAudio"
            [attr.src]="backgroundAudio"
            class="background-audio"
            loop="true"
            sound="positional: false"
            autoplay="true">
          </a-sound>
         <a-entity *ngFor="let hotspot of room.universalSet">
            <a-entity nga-hotspot [hotspot]="hotspot">
            </a-entity>
         </a-entity>

         <a-entity *ngFor="let door of room.doorSet">
            <a-entity nga-doorway [doorway]="door">
            </a-entity>
         </a-entity>

     </a-entity>
   </a-entity>

   <a-entity
      control-panel
      material="
        opacity: .5;
        color: #fff"
        geometry="
        primitive: plane;
        height: 1;
        width: 2;"
      look-at="a-camera"
      position="0 -2 -3"
      color="#00F">
      <a-entity nga-panel-button
        position="0 0 0"
        [event]="'switch-room-last'"
        [icon]="iconBack"
        >
      </a-entity>
      <a-entity nga-panel-button
        position="1 0 0"
        [event]="'switch-room-home'"
        [icon]="iconHome"
        >
      </a-entity>
    </a-entity>

 </a-scene>

</div>
