<a-entity
  [attr.hotspot]="params"
  class="hotspot"
  geometry="primitive: plane"
  material="
    transparent: true;
    alphaTest:.5;
    opacity:0"
  scale="100 100"
  look-at="[camera]">
  <!-- Scene triggers -->
  <a-entity
    class="outer-trigger raycast-trigger"
    material="
      opacity: 0;
      alphaTest: .5;
      transparent: true"
    geometry="
      primitive: plane;
      height: 1;
      width: 1;"
    position="0 0 -1">
  </a-entity>
  <a-entity
    class="center-trigger raycast-trigger"
    material="
      opacity: 0;
      alphaTest: .5;
      transparent: true"
    geometry="
      primitive: plane;
      height: .2;
      width: .2;"
    position="0 0 -1">
  </a-entity>
  <a-entity
    class="content-zone-trigger raycast-trigger"
    material="
      opacity: 0;
      alphaTest: .5;
      transparent: true"
    geometry="
      primitive: plane;
      height: .5;
      width: .5"
    >
  </a-entity>

  <a-entity pulsating-marker>
  </a-entity>

  <a-image *ngIf="isAudioOnly"
    hidden-marker 
    alpha-test=".5"
    scale=".5 .5 .5"
    src="assets/icons/icon-audio.png"
    >
  </a-image>
    <!-- Hotspot hidden marker -->
    <a-image 
      *ngIf="!sAudioOnly"
      hidden-marker
      alpha-test=".5"
      src="assets/icons/icon-hotspot-hover.png">
    </a-image>
    <!-- /Hotspot hidden marker -->
    <!-- Hotspot name -->
    <a-text 
      class="hotspot-name"
      [attr.value]="name"
      align="center" 
      position="0 -.5 0"
      alpha-test=".5">
    </a-text>
    <!-- /Hotspot name -->

  <!--   /Hidden marker -->
  <a-entity
      #hotspotContent
      hotspot-content
      class="hotspot-content"
      scale="0 0 0"
      width="2"
      height="2"
      position="0 0 -.3"
>
      <a-image 
        *ngIf="hasImage"
        #assetImage>
      </a-image>
      <a-sound 
        *ngIf="hasAudio"
        volume="20"
        #assetAudio>

      </a-sound>
      
    </a-entity>
</a-entity>