@import '../_styles/variables.scss';

html, body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $color-white;
  overflow: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  padding-bottom: 4px;
}

/* Track */
::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

p {
  margin: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $color-white;
}

a:active {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.text-bold {
  font-weight: 700;
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn .8s 1.6s forwards;
}

.button {
  border-radius: $window-border-radius;
  background-color: transparent;
  color: $color-grey-medium;
  text-align: center;
  font-size: $tiny-font-size;
  padding: 8px 16px;
  margin-bottom: 8px;
  width: 48%;
  cursor: pointer;
  border-color: $color-grey-medium !important;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;

}

.button-full-width {
  border-radius: $window-border-radius;
  background-color: transparent;
  color: $color-grey-medium;
  text-align: center;
  font-size: $tiny-font-size;
  padding: 8px 16px;
  margin-bottom: 8px;
  width: 100%;
  cursor: pointer;
  border-color: $color-grey-medium !important;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;

}

.button_row {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.button:hover {
  color: $color-grey-dark;
  //width: 100%;
  cursor: pointer;
  border-color: $color-grey-dark !important;
  border: 1px;
  border-style: solid;

}

.button:active {
  background-color: transparent;
  color: $color-action;
  text-align: center;
  //width: 100%;
  cursor: pointer;
  border-color: $color-action !important;
  border: 1px;
  border-style: solid;

}

.button:focus {
  outline: 0;
}

.button-drag-drop {
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  border: 1px;
  border-style: dashed;
}

// Save Button Style //
.button-save {
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  border: 1px;
}

.button-save-drag-drop {
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  border: 1px;
  border-style: dashed;
}

// Delete Button Style //
.button-delete {
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  border: 1px;
}

.button-delete-drag-drop {
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  border: 1px;
  border-style: dashed;
}

.font-header {
  font-family: $font-family-header;
}

.font-tiny {
  font-family: $font-family;
  font-size: $tiny-font-size;
  color: $color-grey-dark;
}

.cursor-pointer {
  cursor: pointer;
}

.user-field-text-entry {
  margin-left: 10px;
}

.horiz-line {
  border-bottom: 1px dotted $color-divider;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.horiz-line-bottom {
  border-bottom: 1px solid transparent;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.dropdown {
  background-color: $topbar-dropdown-background-color;
  margin: $topbar-dropdown-margin;
  padding: $topbar-dropdown-padding;
  width: $topbar-dropdown-width;
  border-radius: $window-border-radius;
  //opacity: $opacity-for-overlay;
  background: rgba($color-grey-light-R, $color-grey-light-G, $color-grey-light-B, $opacity-for-overlay);
  backdrop-filter: blur($backdrop-filter-blur);
  //-webkit-backdrop-filter: blur(10px);
}

.dropdown-title {
  font-size: 1.2em;
  margin-top: 8px;
  margin-bottom: 16px;
  color: $color-grey-dark;
}

.dropdown-heading {
  font-size: 1.0em;

  margin-bottom: 10px;
  color: $color-grey-dark;
}

.dropdown-text {
  font-size: $tiny-font-size;
  margin-bottom: 16px;
  color: $color-grey-dark;
}

.dropdown-text__bold {
  font-size: $tiny-font-size;
  font-weight: 600 !important;
  padding-bottom: 4px;
  color: $color-grey-medium;
}

.dropdown-text__accent {
  font-size: $med-font-size;
  margin-bottom: 10px;
  color: $color-action;
}

.dropdown-label {
  font-size: $tiny-font-size;
  margin-bottom: 10px;
  color: $color-grey-dark;
}

.dropdown-button-margin {
  margin-right: 8px;
}

.dropdown-input-row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.dropdown-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.dropdown-input-label {
  font-size: 1.1em;
  min-width: 0px;
  max-width: 63%;
  margin-left: 10px;
  flex-grow: 1;
}

.dropdown-select-box {
  font-size: 1.1em;
  flex-grow: 2;
}

.hotspot-inspector_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  //justify-content: center;
  //align-items: center;
  //padding: 0px 0px 0px 0px;
}

.hotspot-inspector__label {
  margin-right: 10px;
  width: 100%;
  font-size: $tiny-font-size;
  color: $color-grey-dark;
}

.hotspot-inspector__select {
  //display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  //margin-top: 10px;
}

.row-flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.width-auto {
  width: auto;
}

// admin, explore, search styles
.story-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.story-collection__header {
  margin-top: 20px;
  font-size: 1.2em;
  border-bottom: 2px solid $color-grey-dark;
}

.story-collection__project {
  margin: 10px;
  padding: 10px;
  //border: 10px solid black;
  //position: relative;
  background: #333;
  // width: 400px;
  // height: 75vh;
  border-radius: 30px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
  0 0 1rem rgba(0,0,0,0.2);
  overflow: hidden;
}

.story-collection__thumbnail {
  width: 336px;
  cursor: pointer;
  margin: 2rem -2rem 1rem -2rem;
  opacity: 0;
  animation: ImageFadeIn .8s 1.4s forwards;
}
.card__line {
  opacity: 0;
  animation: LineFadeIn .8s .8s forwards ease-in;
  }

// .card__svg {
//     position: relative;
//     left: 0;
//     top: -200px;
    
// }
// modal-window related
.modal-window {
  display: inline-block;
  //width: 80%;
  //height: 80%;
  overflow: hidden;
  //position: fixed;
  top: 50%;
  left: 50%;

  border-radius: $window-border-radius;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, $color-modal-transparecy);
}

.modal-window__fields {
  min-width: 296px;
  position: fixed;
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px;
  top: 50%;
  left: 50%;
  z-index: $z-index-5;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  box-shadow: 0 50px 100px rgba(0, 0, 0, .1), 0 15px 35px rgba(0, 0, 0, .15), 0 5px 15px rgba(0, 0, 0, .1);
}
.a-enter-vr{
  z-index: 1;
}
@keyframes LineFadeIn {
  0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
  50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
  100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
}

@keyframes ContentFadeIn {
  0% { transform: translateY(-1rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
  0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
  50% { opacity: 1; filter: blur(2px); }
  100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}