<div
  *ngIf="isOpen"
  class="modal">

  <loading-modal
    *ngIf="isLoaderModal()">
  </loading-modal>

  <message-modal
    *ngIf="isMessageModal()"
    (onClose)="closeModal($event)"
    [messageData]="messageData">
  </message-modal>

  <shareable-modal
    *ngIf="isSharableModal()"
    (onClose)="closeModal($event)"
    [shareableData]="shareableData">
  </shareable-modal>

  <multiview-modal
    *ngIf="isMultiviewModal()"
    (onClose)="closeModal($event)"
    [shareableData]="shareableData">
  </multiview-modal>

</div>
