@import '../../_styles/variables';

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $z-index-10;
}

.modal__content {
  min-width: 320px;
  left: 50%;
  top: 50%;
  position: absolute;
  /* top: 0; */
  transform: translate(-50%, -50%);
  background: $color-white;
  border-radius: 16px;
  border-width: 0px;
  border-color: transparent;

}

.modal__content-header {
  padding-top: 16px;
  padding-bottom: 4px;

}

.modal__content-body {
  padding-bottom: 16px;
  padding-top: 4px;
  padding-left: 24px;
  padding-right: 24px;

  color: $color-grey-dark;
}

.modal__content-body-text {
  text-align: center;
  margin-top: 5px;
}

.modal__content-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.modal__content-selection {
  flex-grow: 1;
  flex-basis: 0;
  border: 4px solid $color-primary;
  border-radius: $window-border-radius;
  background-color: $color-secondary;
  color: $color-white;
  font-size: 1.1em;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}

.modal__content-body-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal__content-body-close {
  margin-top: 20px;
  padding: 10px;
  color: $color-grey-dark;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}
