@import '../../../_styles/variables';

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  overflow: hidden;

}



.topbar__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar__row-label {
  color: $color-grey-dark;
  font-weight: $semi-bold;
  background-color: $color-white;
  opacity: 0.7;
  border-radius: 4px;
  padding: 16px 8px;
  overflow: hidden;

  cursor: pointer;
  &:hover{
    opacity: 1;

  }
  &:active{
    background-color: $color-white;
    color: $color-action;
  }

  &:focus{
outline:0;

  }
}

.topbar__row-label-active {
  color: $color-action;
  opacity: 1;
  overflow: hidden;
}

.topbar__row-menus{
  flex-grow: 2;
}
.topbar__marginright{
  margin-right: 16px;
}

.topbar__marginleft{
  margin-left: 16px;
}

.topbar__row-story{
  justify-content: center;
}



.topbar__position-absolute {
  position: absolute;
}

.topbar__story-tab {
  position: fixed;
  transform: translateX(-110%);
  left: 0;
  transition: transform 0.2s ease-out;
  @include breakpoint(xs) {
    width: 98%;
  }
}

.topbar__story-tab--active {
  transform: translateX(0);
}

.topbar__user-tab {
  position: fixed;
  transform: translateX(110%);
  right: 0;
  transition: transform 0.2s ease-out;
  @include breakpoint(xs) {
    width: 98%;
  }
}

.topbar__user-tab--active {
  transform: translateX(0);
}

.topbar__about-tab {
  margin-left: -$topbar-dropdown-width / 4;
}
