@import '../../../../../_styles/variables';

.video-editor {
  .invalid-message {
    color: $color-red;
  }
}

.video-editor__text-area {
  border-color: $color-grey-light;

  resize: none;
  font-size: 1.1em;
  width: 100%;
  height: 10vh;

}
