@import '../../../_styles/variables';

$prefixes: -webkit-,-moz-,-ms-,-o-;
@mixin transition( $transition ) {
    @each $prefix in $prefixes {
        #{$prefix}transition: prefixed-for-transition($prefix, $transition);
    }
    transition: $transition;
}

@mixin transform( $transform ) {
    @each $prefix in $prefixes {
        #{$prefix}transform: $transform;
    }
    transform: $transform;
}

@mixin transform-origin( $transform-origin ) {
    @each $prefix in $prefixes {
        #{$prefix}transform-origin: $transform-origin;
    }
    transform: $transform-origin;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




.icon {
  width: $room-icon-size;
  height: $room-icon-size;
  display: block;
  overflow: show;
  &:hover{

  }
  &:active{

  }
}

.icon svg {
    max-width: 100%;
}

main {
    position: absolute;
}

.fullscreen {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    text-decoration: none;

    .fs-icon {
        @include transition (.5s ease-out);
        background-color: $color-white;
        border:0px;
        color:0px;
        text-decoration: none;
opacity: 0.8;
        .outline {
            fill: $color-grey-medium;
        }

        .arrow {
             fill: $color-grey-medium;
             @include transition (fill 1s ease);
        }

        .tl {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: tl 1s ease-in-out;
        }

        .tr {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: tr 1s ease-in-out;
        }

        .bl {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: bl 1s ease-in-out;
        }

        .br {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: br 1s ease-in-out;
        }
    }

    &:hover {
        .fs-icon {
opacity:1;
            .outline {
              fill: $color-grey-dark;
              @include transition (fill 1s ease);
            }

            .arrow {
                fill: $color-grey-dark;
                @include transition (fill 1s ease);
                @include transition (transform .5s ease-out);
            }
        }
    }

    &:active {
opacity:1;
        .fs-icon {
            @include transform (scale(1.1));
            @include transition (.5s ease-out);
            background-color: $color-grey-dark;

            .arrow {
                fill:  $color-action;
                @include transition (fill 1s ease);
                opacity: 100;
            }
            .outline {
              fill: $color-action;
              @include transition (fill 1s ease);
            }


            .tl {
                @include transform (translate(-4px, -4px));
            }
            .tr {
                @include transform (translate(4px, -4px));
            }
            .bl {
                @include transform (translate(-4px, 4px));
            }
            .br {
                @include transform (translate(4px, 4px));
            }
        }
    }

}

.fullscreen__full {
  opacity:1;
    .fs-icon {

                  .arrow {
                      fill:  $color-action;
                      @include transition (fill 1s ease);
                      opacity: 100;
                  }
                  .outline {
                    fill: $color-action;
                    @include transition (fill 1s ease);
                  }
        .tl, .br{
            @include transform (rotate(-180deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
        }
        .tr, .bl {
            @include transform (rotate(180deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
        }
    }

  }
/*
.fullscreen__full:hover {
    .fs-icon {
        @include transform (scale(1));
      .outline {
      }
      .tl {
        @include transform (rotate(-180deg));
        @include transform-origin (100%);

          @include transform (translate(-8px, -8px));
      }
      .tr {
        @include transform (rotate(-180deg));
        @include transform-origin (100%);

          @include transform (translate(8px, -8px));
      }
      .bl {
        @include transform (rotate(-180deg));
        @include transform-origin (100%);

          @include transform (translate(-8px, 8px));
      }
      .br {
        @include transform (rotate(-180deg));
        @include transform-origin (100%);

          @include transform (translate(8px, 8px));
      }
    }
  }
*/

@keyframes tl {
    0% {transform: translate(8px, 8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}

@keyframes tr {
    0% {transform: translate(-8px, 8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}

@keyframes bl {
    0% {transform: translate(8px, -8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}

@keyframes br {
    0% {transform: translate(-8px, -8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}
