@import '../../../_styles/variables';

$prefixes: -webkit-,-moz-,-ms-,-o-;
@mixin transition( $transition ) {
    @each $prefix in $prefixes {
        #{$prefix}transition: prefixed-for-transition($prefix, $transition);
    }
    transition: $transition;
}

@mixin transform( $transform ) {
    @each $prefix in $prefixes {
        #{$prefix}transform: $transform;
    }
    transform: $transform;
}

@mixin transform-origin( $transform-origin ) {
    @each $prefix in $prefixes {
        #{$prefix}transform-origin: $transform-origin;
    }
    transform: $transform-origin;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




.icon {
  width: $room-icon-size;
  height: $room-icon-size;
  display: block;
  overflow: show;
}

.icon svg {
    max-width: 100%;
}

main {
    position: absolute;
}

.fullscreen {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;

    .fs-icon {
        @include transition (.5s ease-out);

        .outline {
            fill: white;
        }

        .arrow {
             fill: $color-action;
             @include transition (fill 1s ease);
        }

        .tl {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: tl 1s ease-in-out;
        }

        .tr {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: tr 1s ease-in-out;
        }

        .bl {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: bl 1s ease-in-out;
        }

        .br {
            @include transform (rotate(0deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
            animation: br 1s ease-in-out;
        }
    }

    &:hover {
        .fs-icon {
            @include transform (scale(1.1));
            @include transition (.5s ease-out);

            .arrow {
                fill: $color-action;
                @include transition (fill 1s ease);
                @include transition (transform .5s ease-out);
            }
            .tl {
                @include transform (translate(-4px, -4px));
            }
            .tr {
                @include transform (translate(4px, -4px));
            }
            .bl {
                @include transform (translate(-4px, 4px));
            }
            .br {
                @include transform (translate(4px, 4px));
            }
        }
    }

    &:active {
        .fs-icon {
            @include transform (scale(1.1));
            @include transition (.5s ease-out);

            .arrow {
                fill:  $color-action;
                @include transition (fill 1s ease);
                opacity: 0;
            }

            .tl {
                @include transform (translate(-60px, -60px));
                @include transition (.2s ease-out);
            }
            .tr {
                @include transform (translate(60px, -60px));
                @include transition (.2s ease-out);
            }
            .bl {
                @include transform (translate(-60px, 60px));
                @include transition (.2s ease-out);
            }
            .br {
                @include transform (translate(60px, 60px));
                @include transition (.2s ease-out);
            }
        }
    }

}

.fullscreen__full {
    .fs-icon {
        .tl, .br{
            @include transform (rotate(-180deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
        }
        .tr, .bl {
            @include transform (rotate(180deg));
            @include transform-origin (50%);
            @include transition (.5s ease-out);
        }
    }
  }

.fullscreen__full:hover {
    .fs-icon {
        @include transform (scale(1));
      .outline {
      }
      .tl {
          @include transform (translate(-8px, -8px));
      }
      .tr {
          @include transform (translate(8px, -8px));
      }
      .bl {
          @include transform (translate(-8px, 8px));
      }
      .br {
          @include transform (translate(8px, 8px));
      }
    }
  }


@keyframes tl {
    0% {transform: translate(8px, 8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}

@keyframes tr {
    0% {transform: translate(-8px, 8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}

@keyframes bl {
    0% {transform: translate(8px, -8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}

@keyframes br {
    0% {transform: translate(-8px, -8px);opacity: 0;}
    15% {opacity: 0;}
    40% {opacity: 1;}
}
