@import '../../../../_styles/variables';

.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
  width: $room-icon-container-width;
  top: 0;
  left: 0;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    .icon__delete {
      visibility: visible;
    }
  }

}

.icon__image {
  height: $room-icon-size-large;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 7px 14px rgba(0, 0, 0, .3));
}

.icon__delete {
  background-image: url('assets/icons/delete_filled.png');
  background-color: transparent;
  background-size: 90%;
  background-repeat: no-repeat;
  width: $home-icon-width;
  height: $home-icon-height;
  visibility: hidden;

  transform: translate(75%, 0%);
}

.icon__image--medium {
  height: $room-icon-size-medium;
}

.icon__image--small {
  height: $room-icon-size-small;
}

.icon__label {
  text-align: center;
  text-shadow: $text-shadow;
  margin: 2px 0 0 0;
}

$hotspot-sphere-size: 60px;

.icon__hotspot-sphere {
  position: absolute;
  border: 2px dashed $color-white;
  border-radius: 50%;
  padding: $hotspot-sphere-size;
  top: -32px;
  left: -18px;
}

.icon__property-editor {
  position: absolute;
}
