@import '../../_styles/variables';

$half-icon-size: $room-icon-size / 2;

.editor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.editor__hotspot-menu {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
}

.editor__topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.editor__toggle {
  position: absolute;
  top: calc(50% - #{$room-icon-size});
  right: 0;
  overflow-x:hidden;
  overflow-y:hidden;
}
.editor_center {
  background-color: $color-grey-dark;
  padding: 8px 16px;
  
  border-radius: 2px;
  margin-top: 16px;
  position: absolute;
  top: 0%;
  left: 50%;
  display:flex;
  flex-direction: row;
  align-items: space-between;
  transform: translate(-50%, 0%);
}

.editor_center1 {
  display: none;
}

.editor_center > div
{
  margin:0px 8px;  /* and that, will result in a 10px gap */
}

.editor__editPlayToggle {
/*
top:0;
position: absolute;
left:50%;
*/
width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    opacity: 1;

  }
}

.editor__edit2D3DToggle {
/*
  top:0;
  position: absolute;
  left: 60%;
  */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    opacity: 1;

  }
}

.center-panel {
  font-size: $tiny-font-size;
  font-weight: $semi-bold;
  color: $color-white;
}

.editor__2d3d {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.editor__2d3d {
  margin-left: 3px;
  margin-right: 3px;
  opacity:0.5;
}

.editor__2d3d--active {
  color: $color-white;
  opacity: 1;
}

.editor__editPlayToggleButton {
  margin-top: 4px;
}

.editor__edit2d3dToggleButton {
  margin-top: 4px;
}

.editor__fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  margin-right: 16px;
}

// .editor__story-scroll {}

// .editor__sidebar {}

.editor__edit-space {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-grey-light;
}
