
<div class="editor">

  <!-- Router outlet for edit-space-flat, edit-space-sphere, and preview-space components -->
  <router-outlet name="view"></router-outlet>

  <topbar
    *ngIf="!isPreview()"
    class="editor__topbar">
  </topbar>

<div
      class="editor_center"
      [ngClass]="{'editor_center1': !hasBackgroundImage()}">
  <div
    class="editor__edit2D3DToggle">
    <p
      *ngIf="roomEditorIsVisible()"
      class='topbar__row-label center-panel'>Edit 3D</p>
    <checkbox
      *ngIf="roomEditorIsVisible()"
      (changeEmitter)="on2d3dViewClick($event)"
      class="editor__edit2d3dToggleButton">
    </checkbox>
  </div>

  <div
    class="editor__editPlayToggle">
    <p
      *ngIf="showPreviewCheckbox()"
      class='topbar__row-label center-panel'>Preview</p>
    <checkbox
      *ngIf="showPreviewCheckbox()"
      [initialValue]="isPreview()"
      (changeEmitter)="onEditPlayChange($event)"
      class="editor__editPlayToggleButton">
    </checkbox>

  </div>
</div>
  <hotspot-menu
    *ngIf="hotspotMenuIsVisible()"
    (onMenuChange)="onHotspotMenuChange($event)"
    class="editor__hotspot-menu">
  </hotspot-menu>

  <!--
  <edit-space-toggle
    *ngIf="viewToggleIsVisible()"
    class="editor__toggle">
  </edit-space-toggle>
-->

  <!-- Story Map -->
  <story-scroll
      *ngIf="roomEditorIsVisible()"
      class="editor__story-scroll">
  </story-scroll>

  <!-- Fullscreen -->
  <fullscreen
      *ngIf="roomEditorIsVisible()"
      class="editor__fullscreen">
  </fullscreen>

  <modal></modal>
  <hidden-file-loader></hidden-file-loader>

</div>

<router-outlet name="modal"></router-outlet>
