@import '../../_styles/variables';

$half-icon-size: $room-icon-size / 2;

.editor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.editor__hotspot-menu {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
}

.editor__topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.editor__toggle {
  position: absolute;
  top: calc(50% - #{$room-icon-size});
  right: 0;
  overflow-x:hidden;
  overflow-y:hidden;
}


.editor__editPlayToggle {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, 0%);
}

.editor__edit2D3DToggle {
  position: absolute;
  top: 0;
  left: 25%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, 0%);
}

.editor__2d3d {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.editor__2d3d {
  margin-left: 3px;
  margin-right: 3px;
  opacity:0.5;
}

.editor__2d3d--active {
  color: $color-white;
  opacity: 1;
}

.editor__editPlayToggleButton {
  margin-top: 6px;
}

.editor__edit2d3dToggleButton {
  margin-top: 6px;
}

.editor__fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  margin-right: 16px;
}

// .editor__story-scroll {}

// .editor__sidebar {}

.editor__edit-space {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-grey-light;
}
