.image-editor__description {}

.image-editor__file-loader {
  width: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.image-editor__image-display {
  display: block;

  position: relative;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow:hidde
}
